body, html {
  height: 100%;
}

footer{
  text-align: center;
  margin-top: auto;
}


body {
    background-color: black;
    color: yellow;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

/* Login Page */
@media screen and (max-height: 200px) {

  footer {display:none;}

}

.logindiv {
  top: 50%;
  left: 50%;
  width: 30vw;
  height: 5em;
  margin-top: -2.5em;
  margin-left: -15vw;
  min-width: 56.45px;
  min-height: 244.8px;
  position: fixed;
  text-align: center;
}
.loginInputText {
  background-color: #181a1b;
  padding: .700rem .75rem;
  box-sizing: border-box;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  color:white;
}
.loginInputText:focus, .loginInputText:hover {
  border: 2px solid #F2CB05;
  background-color: #181a1b;
  color:white;
}

.loginInputText::placeholder{
  color:#757575;
}
/* Login Page */